{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "semi": ["error", "never"]
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true
  },
  "overrides": [
    {
      "files": ["*.test.js", "test.js"],
      "globals": {
        "describe": true,
        "expect": true,
        "it": true,
        "sinon": true,
        "unindent": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
